p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.navi-container {
  position: fixed;
  width: 100%;
  min-width: 360px;
  max-width: 690px;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.navi-wrapper {
  height: 48px;
  display: flex;
  opacity: 0.9;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  // padding: 0 4%;
}
.navi-signstatus {
  padding: 13px 50px;
  background-color: var(--primay-2-01);
  color: #fff;
  font-size: 14px;
}
.navi-title-container {
  position: fixed;
  width: 690px;
  height: 80px;
  display: flex;
  align-items: center;
  // border: solid 1.3px #86b1be;
  justify-content: flex-start;
  // background-color: #c9e2ea;
  z-index: 1000;
}
.navi-opac-container {
  width: 690px;
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // border: 1px solid;
  // background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
.navi-content-container {
  display: flex;
  align-items: center;
}

.navi-pointwrapper {
  // width: 70px;+
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0 0 0 6px;
  // padding: 0 6px;
}
.navi-insideball {
  width: 17px;
  padding: 3px 4px;
  border-radius: 8px;
  background-color: #38ae53;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  margin-right: 6px;
}

.sidebar {
  z-index: 1;
  position: absolute;
  text-align: left;
  // width: 80%;
  top: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: sidebar-in 1s forwards;
  -webkit-animation: sidebar-in 1s forwards;
  // animation: sidebar-out 1s forwards;
  // -webkit-animation: sidebar-out 1s forwards;
}

.sidebar-out {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: sidebar-out 1s forwards;
  -webkit-animation: sidebar-out 1s forwards;
}

@keyframes sidebar-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes sidebar-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes sidebar-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes sidebar-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
