* {
  font-family: "AppleSDGothicNeo";
}
a {
  text-decoration: none;
}

.pp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}
.pp-wrapper {
  width: 34px;
  height: 34px;
  border: solid 1.5px #149231;
  background-color: #38ae53;
  margin: 0 5px 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.pp-text {
  margin: auto;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  height: 88%;
  align-items: flex-end;
}
.icon-ppnum {
  font-size: 28px;
  font-weight: 500;
  color: #09607b;
}
header {
  position: relative;
  z-index: 100;
}
.main-container {
  position: relative;
  min-width: 690px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 226, 234);
}
.main-wrapper {
  width: 690px;
  min-width: 690px;
  background-color: #fff;
  height: 100%;
}

/* .slick-list {
  overflow: hidden;
} */
.slick-slide > div {
  width: 560px;
  padding: 0 30px 0 20px;
}
/* .slick-slide > .slide-contianer {
  padding: 0 50px;
} */
.main-live-wrapper {
  width: 100%;
  overflow: hidden;
  /* width: 690px; */
  /* display: block; */
  /* justify-content: center; */
  padding: 30px 0 59.5px 0;
}

.slide-contianer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 59.5px 0;
}
.slide-wrapper {
  width: 100%;
}
.slide-space {
  padding: 0 30px 40px 30px;
}
.slide-title-wrapper {
  padding-top: 24.5px;
  border-top: solid 1.3px #c9e2ea;
  display: flex;
  justify-content: space-between;
}
.slide-title {
  font-size: 38px;
  color: #09607b;
  font-weight: 800;
}
.slide-route {
  font-size: 32px;
  font-weight: 500;
  color: #57a8c2;
  cursor: pointer;
  transition-duration: 0.2s;
}
.slide-route:hover {
  color: #e3da5b;
}

.slide-area {
  height: 362px;
}
/* weekly */
.weekly-textwrapper {
  display: flex;
  align-items: center;
}
.weekly-towin {
  font-size: 32px;
  font-weight: bold;
  color: #09607b;
  margin: 12px 0;
}
.weekly-ppimg-layout {
  width: 34px;
  height: 34px;
  border: solid 1.5px #149231;
  background-color: #38ae53;
  margin: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.weekly-ppimg-text {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  height: 88%;
  align-items: flex-end;
}
.weekly-game-status {
  font-size: 32px;
  font-weight: bold;
  color: #09607b;
}
.weekly-progress-layout {
  height: 12px;
  background-color: #d8d8d8;
}
.weekly-daycount {
  padding: 35px 0 60px 0;
}

/* featured */
.featured-container {
  display: flex;
  justify-content: center;
}
.featured-title {
  padding-top: 24.5px;
  border-top: solid 1.3px #c9e2ea;
  display: flex;
  justify-content: space-between;
  font-size: 38px;
  color: #09607b;
  font-weight: 800;
}
.featured-img {
  width: 100%;
  height: 314px;
  margin-top: 20px;
  border-radius: 12.5px;
  box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  border: solid 2.5px #86b1be;
  background-color: #c9e2ea;
  outline: none;
}
.featured-infoarea {
  display: flex;
  justify-content: space-between;
}
.featured-smallarea {
  width: 100%;
  border-bottom: solid 1.3px #c9e2ea;
  padding: 43px 0 63px 0;
}
.featured-samll-wrapper {
  width: 291px;
  text-align: left;
}
.featured-samll-img {
  width: 100%;
  height: 361px;
  border-radius: 12.5px;
  box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  border: solid 2.5px #86b1be;
  background-color: #c9e2ea;
  outline: none;
}
.menu-container {
  width: 100%;
  padding: 15px 0 0 0;
  display: inline-flex;
}
.menu-selector {
  padding: 17px 27px;
  border-radius: 35px;
  font-size: 30px;
  font-weight: 500;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
