* {
  font-family: Inter;
  font-family: "Inter";
}

a {
  text-decoration: none;
}
:root {
  --background-1: #12151b;
  --neutral-3: #808191;
  --neutral-2: #5e6272;
  --neutrals-04: #e6e8ec;
  --neutral-1: #1b202a;
  --primay-2-01: #3772ff;
  --primay-2-02: #9dbaff;
}
a:visited {
  // text-decoration: none;
  // color: #fff;
}
a:hover {
  text-decoration: none;
  // color: #fff;
}
a:link {
  text-decoration: none;
}
// .slick-dots li.slick-active button:before {
//   opacity: 0.75;
//   color: black;
//   margin: 0;
//   padding: 0;
// }

.slick-dots {
  color: var(--primay-2-01);
  list-style-type: none;
  text-align: center;

  display: block;
  justify-content: flex-start;
  align-items: center;

  li {
    margin: 0 0.2em;
    // width: auto;
    width: 15px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  button {
    display: block;
    border: none;
    border-radius: 100%;
    background-color: var(--neutral-3);
    font-size: 8px;
    // &button:before {
    //   font-size: 20px;
    //   line-height: 20px;
    // }
  }

  li button {
    font-size: 0;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20px; */
    height: 20px;
    padding: 0;
    margin-top: 2px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  li.slick-active button {
    width: 8.7px;
    height: 9px;
    font-size: 8px;
    border-radius: 40px;
    margin-top: 10px;
    background-color: var(--primay-2-01);
  }
  li.slick-active button:before {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    font-size: 8px;
  }

  li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: -2.5px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.progress-done {
  position: relative;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #26c34a;
  z-index: 10;
}
.pp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 14px 24px 14px;
}
.pp-wrapper {
  background-color: #38ae53;
  margin: 0 4px;
  width: 19px;
  height: 19px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.pp-text {
  font-family: Poppins;
  font-style: italic;
  font-size: 10.3px;
  font-weight: 800;
  margin: auto;
  letter-spacing: -0.34px;
  padding: 4.5px 2px 0 0;
  color: #fff2cb;
  // display: flex;
  // align-items: center;
  text-align: center;
  // width: 100%;
}

//continue & weeckly slide
.continue-container {
  position: relative;
  border: none;
  width: 122px;
}
.content-img {
  margin: auto;
  height: 100%;
  border-radius: 10px;
  background-color: lightsalmon;
}
.content-time-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: center;
}
.content-time-text {
  width: 85px;
  height: 24px;
  font-size: 13px;
  font-weight: 600;
  margin: 14px 14px 0 0;
  color: #fff;
  right: 0;
  // bottom: 0vmax;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-time-overlay {
  width: 100%;
  height: 100%;
  background-color: #1b1d21;
  border-radius: 8px;
  opacity: 0.6;
}
.content-time {
  position: absolute;
  color: #fff;
}
.content-weekly-layout {
  position: relative;
  width: 224px;
  display: block;
  margin: auto;
  padding: 6px 6px 12px 6px;
  border-radius: 10px;
  box-shadow: 0 13px 13px 0 rgb(77 93 107 / 13%);
  background-color: #fff;
}
.content-weekly-img {
  width: 100%;
  // width: 212px;
  height: 118px;
  border-radius: 10px;
  background-color: lightgray;
  border: none;
}
.content-text-wrapper {
  font-family: AppleSDGothicNeo;
  text-align: left;
}
.content-playagin {
  // width: 100%;
  width: 110px;
  font-size: 14px;
  color: #808191;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
.content-gametitle {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: var(--neutral-1);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-wininfo {
  font-size: 14px;
  font-weight: 500;
  color: #09607b;
  display: flex;
  border-radius: 15px;
  background-color: #fff;
  padding: 4px 0;
  justify-content: center;
  align-items: center;
}
.content-trophy-layout {
  position: relative;
  width: 24px;
  height: 24px;
}
.content-trophy-overlay {
  position: absolute;
  opacity: 0.1;
  border-radius: 6px;
  background-color: var(--neutral-3);
  width: 100%;
  height: 100%;
}
.content-trophy-img {
  display: flex;
  color: rgb(255, 255, 255);
  width: 17px;
  height: 14px;
  margin: auto;
  padding: 4px 0px 0px;
}
.icon-ppnum {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: var(--neutral-1);
}
header {
  position: relative;
  z-index: 100;
}
footer {
  position: fixed;
  bottom: 0;
  width: 690px;
  height: 44px;
  max-width: 690px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 0px 10px 10px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  padding-left: 12;
  z-index: 10;
}

.footer-ppimg-layout {
  width: 18px;
  height: 18px;
  background-color: #38ae53;
  border-radius: 5.2px;
  margin: 0 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.footer-ppimg-text {
  margin: auto;
  font-size: 9.1px;
  font-weight: 800;
}
.footer-game-point {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.footer-game-name {
  font-size: 14px;
  color: #000;
  margin: 0 15px 0 4px;
}
.main-container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -webkit-appearance: none;
}

.main-wrapper {
  position: relative;
  width: 100%;
  min-width: 360px;
  max-width: 690px;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  padding: 0 0 44px 0;
  // border: 1px solid blue;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -webkit-appearance: none;
}
.main-sideblur {
  height: 4.5%;
  width: 32.1px;
  opacity: 0.4;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  background-color: #fff;
}

// .slide-area {
//   padding-left: 16px;
// }
// .slick-slide img {
//   display: block;
// }
.slick-list {
  padding-bottom: 16px;
}
.slick-slide > div {
  // padding: 0 6px;
  padding: 0 1.2%;
}
// .slick-slide > .slide-contianer {
//   padding: 0 10px;
// }
.main-live-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 66px 0 42px 0;
}

.slide-contianer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slide-wrapper {
  width: 100%;
}
.slide-space {
  padding: 0 16px 16px 16px;
}
.slide-title-wrapper {
  display: flex;
  justify-content: space-between;
}
.slide-title {
  font-size: 20px;
  font-weight: bold;
  color: #1b202a;
}
.slide-route {
  font-size: 16px;
  font-weight: 500;
  color: var(--primay-2-01);
  cursor: pointer;
  transition-duration: 0.2s;
}
.slide-route:hover {
  color: #e3da5b;
}

/* weekly */
.weekly-textwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfd;
  margin: 14px 0 7px 0;
}
.weekly-towin {
  font-size: 14px;
  font-weight: 500;
  color: #5e6272;
}
.weekly-ppimg-layout {
  width: 24px;
  height: 24px;
  // border: solid 1.5px #149231;
  background-color: #38ae53;
  border-radius: 12.5px;
  margin: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.weekly-ppimg-text {
  margin: auto;
  font-size: 11.2px;
  font-weight: 800;
  display: flex;
  align-items: flex-end;
}
.weekly-game-status {
  font-size: 16px;
  font-weight: bold;
  color: #09607b;
}
.weekly-progress-layout {
  height: 5px;
  background-color: var(--neutral-1);
  border-radius: 2.5px;
  box-shadow: 4px 10px 20px 0 rgba(0, 0, 0, 0.06);
  // background-color: var(--neutral-2);
}

.weekly-daycount {
  padding-top: 16px;
}

/* featured */
.featured-container {
  display: flex;
  justify-content: center;
}
.featured-title {
  padding: 32px 0 11px 0;
  // border-top: solid 1.3px #c9e2ea;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: var(--neutral-1);
  font-weight: 800;
}
.featured-img {
  width: 100%;
  position: relative;
  height: 180px;
  object-fit: fill;
  border-radius: 12.5px;
  // box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  // border: solid 2.5px #86b1be;
  // background-color: #c9e2ea;
  outline: none;
}
.featured-infoarea {
  display: flex;
  justify-content: space-between;
}

.featured-samllarea {
  // width: 100%;
  // flex-direction: column;
  margin-top: 10px;
  // width: 159px;
  // width: 100%;
  // border-bottom: solid 1.3px #c9e2ea;
  // padding: 10px 0 12px 0;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 11px;
}
.featured-samll-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 0 5px 5px 0;
}
.featured-samll-img {
  height: 180px;
  width: 159px;
  // width: 159px;
  border-radius: 12.5px;
  // box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  // border: solid 2.5px #86b1be;
  // background-color: #c9e2ea;
  outline: none;
}

.menu-container {
  position: relative;
  width: 100%;
  padding: 15px 0 0 0;
  display: inline-flex;
  overflow: hidden;
}

.menu-selector {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #fff;
  transition-duration: 0.4s;
  text-transform: capitalize;
}
.menu-selector-sub {
  position: relative;
  width: 110px;
  padding: 17px 27px;
  border: 1px solid;
  color: var(--neutral-1);
  // border-radius: 45px;
  font-size: 30px;
  font-weight: 500;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #fff;
  &:hover {
    color: gold;
    border: 1px solid gold;
  }
}

.gameitems-container {
  // padding: 25px 5px 0 16px;
  padding: 0 5px 0 16px;
  text-align: center;
  min-height: 450px;
}
.gameitems-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.gameitems-overtext {
  width: 100%;
  position: relative;
  border-radius: 10px;
  border: solid 1px #f1f1f5;
  background-color: #fafaff;
  padding: 15px 0;
  margin: 7px 5px 0 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--neutral-3);
  cursor: pointer;
  // z-index: 100;
}
