// live Slide
.live-container {
  position: relative;
  display: block;
  // max-width: 620px;
  // margin: 0 15px;
  // padding: 0 8px;
}
.live-wrapper {
  position: absolute;
  z-index: 1;
  // right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.live-livestatus {
  // width: 80px;
  height: 26px;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 15px;
  margin: 12px 0 0 12px;
  border-radius: 8px;
  color: #fff;
  background-color: #e62b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  text-transform: capitalize;
}
.live-timestatus {
  width: 85px;
  height: 24px;
  border-radius: 8px;
  background-color: #000;
  opacity: 0.6;
  right: 0;
  font-size: 13px;
  font-weight: 600;
  margin: 12px 12px 0 0;
  padding: 5px 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-imgarea {
  height: 157px;
  border-radius: 10px;
  // padding: 2.5%;
  border-bottom: none;
  background-color: lightpink;
  margin: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.live-info-wrapper {
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 13px 13px 0 rgb(77 93 107 / 13%);
}
.live-info-titlearea {
  // width: 60%;
  text-align: left;
  // padding-left: 25px
  padding: 16px 31px 13px 17px;
}
.live-info-title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #1b202a;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.live-point {
  font-size: 16px;
  font-weight: 500;
  color: #1b202a;
}
// @media only screen and (max-width: 499px) {
//   .live-liveinfo {
//     transition: 0.2s;
//   }
// }
// @media only screen and (min-width: 500px) {
//   .live-liveinfo {
//     padding: 0 10%;
//     transition: 0.2s;
//   }
// }

/* Game Item */
.gameItem-container {
  position: relative;
  cursor: pointer;
  // width: 190px;
  margin: 0 8.5px 10px 0;
  border-radius: 12.5px;
  // box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  // border: solid 2.5px #86b1be;
  // background-color: #fff;
}
.gameItem-img {
  width: 103px;
  height: 103px;
  border-radius: 12.5px;
  background-color: #c9e2ea;
}
.gameItem-wrapper {
  position: absolute;
  bottom: 0;
  min-width: 71px;
  padding: 6px 16px 10px 16px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6) 32%,
    #000 93%
  );
  border-radius: 0 0 10px 10px;
  // padding: 25px 3%;
}
.gameItem-pointarea {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-icon {
  width: 38px;
  height: 38px;
  margin: 0 7px 0 0;
  opacity: 0.78;
  border: solid 1.5px #149231;
  background-color: #38ae53;
  border-radius: 24px;
  font-size: 5px;
  // font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-point {
  font-size: 5px;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #fff;
}
.gameItem-userarea {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gameItem-usericon {
  font-size: 24px;
  font-weight: 500;
  color: #598b9b;
}
.gameItem-number {
  font-size: 5px;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #fff;
  margin-left: 3.2px;
}

//3D 회전
.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: rotation 5s infinite;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2.5em;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;

  &--front {
    background: rgba(98, 206, 203, 0.7);
    transform: rotateY(0deg) translateZ(100px);
  }

  &--back {
    background: rgba(98, 155, 206, 0.7);
    transform: rotateY(180deg) translateZ(100px);
  }

  &--right {
    background: rgba(98, 101, 206, 0.7);
    transform: rotateY(90deg) translateZ(100px);
  }

  &--left {
    background: rgba(149, 98, 206, 0.7);
    transform: rotateY(-90deg) translateZ(100px);
  }

  &--top {
    background: rgba(203, 98, 206, 0.7);
    transform: rotateX(90deg) translateZ(100px);
  }

  &--bottom {
    background: rgba(206, 98, 155, 0.7);
    transform: rotateX(-90deg) translateZ(100px);
  }
}

html {
  height: 100%;
}
// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100%;
//   margin: 0;
//   padding: 0;
// }
h1 {
  margin-bottom: 30px;
}

@keyframes rotation {
  0% {
    transform: translateZ(-100px) rotate3d(0, 0, 0);
  }
  100% {
    transform: translateZ(-100px) rotate3d(1, 0, 1, 360deg);
  }
}
