// live Slide
.live-container {
  position: relative;
  display: block;
  max-width: 620px;
  margin: 0 15px;
}
.live-wrapper {
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 25px;
}
.live-livestatus {
  width: 68px;
  border: 1px solid;
  border-radius: 3.8px;
  background-color: #09607b;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 14px 12px;
  color: #88d9f3;
}
.live-timestatus {
  border-radius: 10px;
  background-color: #000;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px 8px;
  color: #fff;
}
.live-imgarea {
  height: 240px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  // border: solid 2.5px #86b1be;
  border-bottom: none;
  // background-color: #c9e2ea;
  background-color: lightpink;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.live-info-wrapper {
  width: 100%;
  // height: 120px;
  // border: solid 2.5px #86b1be;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 13px 13px 0 rgb(77 93 107 / 13%);
}
.live-info-titlearea {
  // width: 60%;
  text-align: left;
  // padding-left: 25px
  padding: 15px;
}
.live-info-title {
  font-size: 30px;
  font-weight: 500;
  color: #09607b;
}
.live-wininfo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.live-win {
  font-size: 20px;
  // font-weight: bold;
  color: #09607b;
}
.live-point {
  font-size: 23px;
  font-weight: bold;
  color: #09607b;
}

@media only screen and (min-width: 330px) and (max-width: 360px) {
  .live-liveinfo {
    transition: 0.2s;
  }
}
@media only screen and (min-width: 361px) {
  .live-liveinfo {
    padding: 0 10%;
    transition: 0.2s;
  }
}

/* Game Item */
.gameItem-container {
  cursor: pointer;
  width: 190px;
  border-radius: 12.5px;
  box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  border: solid 2.5px #86b1be;
  background-color: #fff;
  margin: 25px 7px;
}
.gameItem-img {
  width: 190px;
  height: 191px;
  border-radius: 12.5px 12.5px 0 0;
  background-color: #c9e2ea;
}
.gameItem-wrapper {
  padding: 25px 3%;
}
.gameItem-pointarea {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-icon {
  width: 38px;
  height: 38px;
  margin: 0 7px 0 0;
  opacity: 0.78;
  border: solid 1.5px #149231;
  background-color: #38ae53;
  border-radius: 24px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-point {
  font-size: 26px;
  font-weight: bold;
  color: #09607b;
}
.gameItem-userarea {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-usericon {
  font-size: 24px;
  font-weight: 500;
  color: #598b9b;
}
.gameItem-number {
  font-size: 24px;
  font-weight: 500;
  color: #598b9b;
}

//3D 회전
.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  animation: rotation 5s infinite;
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2.5em;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;

  &--front {
    background: rgba(98, 206, 203, 0.7);
    transform: rotateY(0deg) translateZ(100px);
  }

  &--back {
    background: rgba(98, 155, 206, 0.7);
    transform: rotateY(180deg) translateZ(100px);
  }

  &--right {
    background: rgba(98, 101, 206, 0.7);
    transform: rotateY(90deg) translateZ(100px);
  }

  &--left {
    background: rgba(149, 98, 206, 0.7);
    transform: rotateY(-90deg) translateZ(100px);
  }

  &--top {
    background: rgba(203, 98, 206, 0.7);
    transform: rotateX(90deg) translateZ(100px);
  }

  &--bottom {
    background: rgba(206, 98, 155, 0.7);
    transform: rotateX(-90deg) translateZ(100px);
  }
}

html {
  height: 100%;
}
// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100%;
//   margin: 0;
//   padding: 0;
// }
h1 {
  margin-bottom: 30px;
}

@keyframes rotation {
  0% {
    transform: translateZ(-100px) rotate3d(0, 0, 0);
  }
  100% {
    transform: translateZ(-100px) rotate3d(1, 0, 1, 360deg);
  }
}
