/* Game Item */
.gameItem-container {
  cursor: pointer;
  width: 190px;
  border-radius: 12.5px;
  box-shadow: 0 13px 13px 0 rgba(77, 93, 107, 0.13);
  border: solid 2.5px #86b1be;
  background-color: #fff;
  margin: 25px 7px;
}
.gameItem-img {
  width: 190px;
  height: 191px;
  border-radius: 12.5px 12.5px 0 0;
  background-color: #c9e2ea;
}
.gameItem-wrapper {
  padding: 25px 3%;
}
.gameItem-pointarea {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-icon {
  width: 38px;
  height: 38px;
  margin: 0 7px 0 0;
  opacity: 0.78;
  border: solid 1.5px #149231;
  background-color: #38ae53;
  border-radius: 24px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-point {
  font-size: 26px;
  font-weight: bold;
  color: #09607b;
}
.gameItem-userarea {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameItem-usericon {
  font-size: 24px;
  font-weight: 500;
  color: #598b9b;
}
.gameItem-number {
  font-size: 24px;
  font-weight: 500;
  color: #598b9b;
}
