@font-face {
  font-family: "Inter";
  src: url("./resource/fonts/Inter-Medium.ttf")
    format("truetype");
}
/* @font-face {
  font-family: Inter;
  src: local(Inter-Regular),
    url("./resource/fonts/Inter-Regular.woff2")
      format("woff2"),
    url("./resource/fonts/Inter-Regular.woff")
      format("woff"),
    url("./resource/fonts/Inter-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Inter;
  src: local(Inter-Medium),
    url("./resource/fonts/Inter-Medium.woff2")
      format("woff2"),
    url("./resource/fonts/Inter-Medium.woff") format("woff"),
    url("./resource/fonts/Inter-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
} */

/* @font-face {
  font-family: Inter;
  src: local(Inter-SemiBold),
    url("./resource/fonts/Inter-SemiBold.woff2")
      format("woff2"),
    url("./resource/fonts/Inter-SemiBold.woff")
      format("woff"),
    url("./resource/fonts/Inter-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
} */

@font-face {
  font-family: "Poppin";
  src: url("./resource/fonts/Poppins/Poppins-Medium.ttf")
    format("truetype");
}
.App {
  text-align: center;
  /* -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  overscroll-behavior: contain; */
  /* overflow: scroll; */
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -webkit-appearance: none;
  -ms-overflow-style: none;
}

body {
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overscroll-behavior-y: contain;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
